sapfelcr/xsd2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/pFacturaElectronica.Serializable" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/pFacturaElectronica.Serializable">
	<xs:complexType name="RespuestaXML">
		<xs:sequence>
			<xs:element minOccurs="0" name="correlativo" type="xs:int"/>
			<xs:element minOccurs="0" name="xmlRespuesta" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RespuestaXML" nillable="true" type="tns:RespuestaXML"/>
</xs:schema>