rutaoptimizada/FacturaElectronica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="FacturaElectronica" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
		<xsd:import schemaLocation="xsd0.xsd" namespace="http://tempuri.org/"/>
		<xsd:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
		<xsd:import schemaLocation="xsd2.xsd" namespace="http://schemas.datacontract.org/2004/07/pFacturaElectronica.Serializable"/>
  </xsd:schema>
	</wsdl:types>
	<wsdl:message name="IFacturaApache_InsertarDocumento_InputMessage">
		<wsdl:part name="parameters" element="tns:InsertarDocumento"/>
	</wsdl:message>
	<wsdl:message name="IFacturaApache_InsertarDocumento_OutputMessage">
		<wsdl:part name="parameters" element="tns:InsertarDocumentoResponse"/>
	</wsdl:message>
	<wsdl:message name="IFacturaApache_IngresarEstadoCompletado_InputMessage">
		<wsdl:part name="parameters" element="tns:IngresarEstadoCompletado"/>
	</wsdl:message>
	<wsdl:message name="IFacturaApache_IngresarEstadoCompletado_OutputMessage">
		<wsdl:part name="parameters" element="tns:IngresarEstadoCompletadoResponse"/>
	</wsdl:message>
	<wsdl:portType name="IFacturaApache">
		<wsdl:operation name="InsertarDocumento">
			<wsdl:input wsaw:Action="http://tempuri.org/IFacturaApache/InsertarDocumento" message="tns:IFacturaApache_InsertarDocumento_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IFacturaApache/InsertarDocumentoResponse" message="tns:IFacturaApache_InsertarDocumento_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="IngresarEstadoCompletado">
			<wsdl:input wsaw:Action="http://tempuri.org/IFacturaApache/IngresarEstadoCompletado" message="tns:IFacturaApache_IngresarEstadoCompletado_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IFacturaApache/IngresarEstadoCompletadoResponse" message="tns:IFacturaApache_IngresarEstadoCompletado_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IFacturaApache" type="tns:IFacturaApache">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="InsertarDocumento">
			<soap:operation soapAction="http://tempuri.org/IFacturaApache/InsertarDocumento" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="IngresarEstadoCompletado">
			<soap:operation soapAction="http://tempuri.org/IFacturaApache/IngresarEstadoCompletado" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FacturaElectronica">
		<wsdl:port name="BasicHttpBinding_IFacturaApache" binding="tns:BasicHttpBinding_IFacturaApache">                        
			<soap:address location="http://192.168.137.1:8098/services/facturaElectronicaService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>